body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: darkgreen;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
}

h1{
    text-align: center;
    margin: 5px;
    font-size: 30px;
}
.rating-container{
    display: flex;
    padding: 20px 0;
}

.ratings{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    transition: all .3s ease;
}

.ratings:hover, .ratings.active {
    background-color: darkseagreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: aliceblue;
}

.btn{
    padding: 10px 20px;
    background-color: darkblue;
    color: aliceblue;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.btn:active{
    transform: scale(96%);
}

.ratings img {
    width: 40px;
}