.container{
    font-family: sans-serif;
    background-color: #fff;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}
.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.timer{
    font-size: 72px;
    color: #2c3e50;
}

button{
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#start{
background-color: green;
}

#stop{
    background-color: red;
}
#reset{
    background-color: grey;
}